wisebot/wisebot_dedup_hash_n8n.json
{
  "name": "WiseBot - Deduplication & Hashing",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "content": "## WiseBot Deduplication & Hashing Sub-workflow\n\n**Purpose:** Compute hashes and check for duplicate documents before processing.\n\n**Input Parameters:**\n- `fileData` - Base64 encoded file content\n- `fileName` - Original file name\n- `mimeType` - MIME type\n- `uploaderEmail` - Email of sender\n- `messageId` - Gmail message ID\n\n**Deduplication Strategy:**\n1. **Exact Match:** SHA-256 hash of raw file bytes\n2. **Fuzzy Match:** Embedding similarity (post-processing)\n\n**Output:**\n- `duplicateStatus` - unique|exact_duplicate|fuzzy_duplicate\n- `fileHash` - SHA-256 of file\n- `existingDocumentId` - If duplicate found\n- `similarityScore` - For fuzzy matches",
        "height": 420,
        "width": 400
      },
      "id": "sticky-intro",
      "name": "Sticky Note - Introduction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "jsCode": "// Compute SHA-256 hash of file content\nconst crypto = require('crypto');\nconst input = $input.first().json;\n\n// Get file data\nconst fileData = input.fileData;\nif (!fileData) {\n  throw new Error('Missing fileData in input');\n}\n\n// Decode base64 and compute hash\nconst buffer = Buffer.from(fileData, 'base64');\nconst fileHash = crypto.createHash('sha256').update(buffer).digest('hex');\n\n// Also compute a content hash for normalized text (will be done after parsing)\n// For now, we use file hash for initial dedup check\n\nreturn [{\n  json: {\n    ...input,\n    fileHash,\n    fileSizeBytes: buffer.length,\n    hashComputedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "compute-hash",
      "name": "Compute File Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "content": "## Hash Computation\n\n**Algorithm:** SHA-256\n**Input:** Raw file bytes (base64 decoded)\n\n**Why SHA-256:**\n- Collision resistant\n- Fast computation\n- Standard for file integrity",
        "height": 180,
        "width": 250
      },
      "id": "sticky-hash",
      "name": "Sticky Note - Hash",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 80]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "documents",
        "filters": {
          "filter": [
            {
              "column": "file_hash",
              "value": "={{$json.fileHash}}"
            }
          ]
        },
        "options": {
          "limit": 1
        }
      },
      "id": "check-exact-duplicate",
      "name": "Check Exact Duplicate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-match",
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-exact-duplicate",
      "name": "Found Exact Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle exact duplicate found\nconst results = $input.first().json;\nconst existingDoc = results[0];\n\n// Get original input from previous node\nconst originalInput = $('Compute File Hash').first().json;\n\nreturn [{\n  json: {\n    duplicateStatus: 'exact_duplicate',\n    fileHash: originalInput.fileHash,\n    fileName: originalInput.fileName,\n    mimeType: originalInput.mimeType,\n    uploaderEmail: originalInput.uploaderEmail,\n    messageId: originalInput.messageId,\n    existingDocumentId: existingDoc.id,\n    existingFileName: existingDoc.file_name,\n    existingCreatedAt: existingDoc.created_at,\n    detectionMethod: 'file_hash'\n  }\n}];"
      },
      "id": "handle-exact-duplicate",
      "name": "Handle Exact Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "documents",
        "columns": "file_hash,source_email_id,source_email_subject,uploader_email,file_name,mime_type,doc_type,file_size_bytes,status",
        "values": "={{$json.fileHash}},={{$json.messageId}},={{$json.subject}},={{$json.uploaderEmail}},={{$json.fileName}},={{$json.mimeType}},={{$json.docType}},={{$json.fileSizeBytes}},'pending'",
        "options": {
          "returnRecord": true
        }
      },
      "id": "create-document-record",
      "name": "Create Document Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## New Document Flow\n\nIf no exact duplicate:\n1. Create document record in Supabase\n2. Return document ID and metadata\n3. Caller proceeds with parsing\n\n**Fuzzy duplicate check:**\nPerformed AFTER embedding, using vector similarity.",
        "height": 180,
        "width": 280
      },
      "id": "sticky-new-doc",
      "name": "Sticky Note - New Doc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 560]
    },
    {
      "parameters": {
        "jsCode": "// Prepare output for new (unique) document\nconst insertResult = $input.first().json;\nconst originalInput = $('Compute File Hash').first().json;\n\nreturn [{\n  json: {\n    duplicateStatus: 'unique',\n    documentId: insertResult.id,\n    fileHash: originalInput.fileHash,\n    fileName: originalInput.fileName,\n    mimeType: originalInput.mimeType,\n    docType: originalInput.docType,\n    uploaderEmail: originalInput.uploaderEmail,\n    messageId: originalInput.messageId,\n    fileSizeBytes: originalInput.fileSizeBytes,\n    fileData: originalInput.fileData  // Pass through for parsing\n  }\n}];"
      },
      "id": "prepare-unique-output",
      "name": "Prepare Unique Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {},
      "id": "merge-output",
      "name": "Merge Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "duplicate_detections",
        "columns": "new_file_hash,original_document_id,detection_type,detection_method",
        "values": "={{$json.fileHash}},={{$json.existingDocumentId}},'exact_duplicate','file_hash'",
        "options": {}
      },
      "id": "log-duplicate-detection",
      "name": "Log Duplicate Detection",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final output preparation\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    duplicateStatus: input.duplicateStatus,\n    documentId: input.documentId || null,\n    fileHash: input.fileHash,\n    fileName: input.fileName,\n    mimeType: input.mimeType,\n    docType: input.docType || null,\n    uploaderEmail: input.uploaderEmail,\n    messageId: input.messageId,\n    existingDocumentId: input.existingDocumentId || null,\n    similarityScore: input.similarityScore || null,\n    detectionMethod: input.detectionMethod || null,\n    fileData: input.fileData || null,\n    fileSizeBytes: input.fileSizeBytes || null\n  }\n}];"
      },
      "id": "finalize-output",
      "name": "Finalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "content": "## Output Schema\n\n```json\n{\n  \"duplicateStatus\": \"unique|exact_duplicate|fuzzy_duplicate\",\n  \"documentId\": \"uuid (if new)\",\n  \"fileHash\": \"sha256 hex\",\n  \"fileName\": \"string\",\n  \"existingDocumentId\": \"uuid (if duplicate)\",\n  \"similarityScore\": \"float (if fuzzy)\",\n  \"fileData\": \"base64 (if unique)\"\n}\n```",
        "height": 260,
        "width": 300
      },
      "id": "sticky-output",
      "name": "Sticky Note - Output",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1780, 40]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Compute File Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute File Hash": {
      "main": [
        [
          {
            "node": "Check Exact Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Exact Duplicate": {
      "main": [
        [
          {
            "node": "Found Exact Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Exact Match?": {
      "main": [
        [
          {
            "node": "Handle Exact Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Document Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Exact Duplicate": {
      "main": [
        [
          {
            "node": "Log Duplicate Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Duplicate Detection": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Record": {
      "main": [
        [
          {
            "node": "Prepare Unique Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unique Output": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Output": {
      "main": [
        [
          {
            "node": "Finalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WiseBot",
      "id": "wisebot-tag"
    },
    {
      "name": "Sub-workflow",
      "id": "subworkflow-tag"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1.0.0"
}
