commentbot/main-agent-workflow.json
{
  "name": "Main Agent - Public Comment Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "public-comment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "public-comment-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "comment_id",
              "name": "comment_id",
              "value": "={{ $json.body.comment_id }}",
              "type": "string"
            },
            {
              "id": "group_id",
              "name": "group_id",
              "value": "={{ $json.body.group_id }}",
              "type": "string"
            },
            {
              "id": "comment_text",
              "name": "comment_text",
              "value": "={{ $json.body.comment_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extract Comment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.comment_text }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are the main coordinator for a public comment analysis system.\\n\\nYour role is to:\\n1. Understand the context and main themes of the public comment\\n2. Determine if the comment contains legal arguments or scientific claims\\n3. Extract key points and concerns raised by the commenter\\n\\nAnalyze the comment and determine:\\n- Does this contain legal arguments, citations, or regulatory concerns? (Yes/No)\\n- Does this contain scientific claims, data, or evidence? (Yes/No)\\n- What are the main points? (2-3 sentences)\\n\\nRespond in JSON format:\\n{\\n  \\\"needs_legal_analysis\\\": true/false,\\n  \\\"needs_scientific_analysis\\\": true/false,\\n  \\\"main_points\\\": \\\"summary\\\"\\n}"
        }
      },
      "id": "main-agent-routing",
      "name": "Main Agent - Routing Decision",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-model-main",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 480],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and determine routing\\nconst response = $input.item.json.output;\\nlet routingDecision;\\n\\ntry {\\n  routingDecision = JSON.parse(response);\\n} catch (e) {\\n  // Fallback parsing if JSON not perfect\\n  routingDecision = {\\n    needs_legal_analysis: response.toLowerCase().includes('legal'),\\n    needs_scientific_analysis: response.toLowerCase().includes('scientific'),\\n    main_points: response\\n  };\\n}\\n\\nreturn {\\n  json: {\\n    ...routingDecision,\\n    comment_id: $('Extract Comment Data').item.json.comment_id,\\n    group_id: $('Extract Comment Data').item.json.group_id,\\n    comment_text: $('Extract Comment Data').item.json.comment_text\\n  }\\n};"
      },
      "id": "parse-routing",
      "name": "Parse Routing Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "legal-check",
              "leftValue": "={{ $json.needs_legal_analysis }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-legal",
      "name": "If Needs Legal Analysis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "scientific-check",
              "leftValue": "={{ $json.needs_scientific_analysis }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-scientific",
      "name": "If Needs Scientific Analysis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "workflowId": "legal-agent-workflow-id",
        "options": {
          "waitForCompletion": true
        }
      },
      "id": "call-legal-agent",
      "name": "Call Legal Agent Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "workflowId": "scientific-agent-workflow-id",
        "options": {
          "waitForCompletion": true
        }
      },
      "id": "call-scientific-agent",
      "name": "Call Scientific Agent Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Sub-Agent Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Based on the analysis below, provide a final summary and recommendation for government staff.\\n\\nOriginal Comment: {{ $json.comment_text }}\\n\\nRouting Analysis: {{ $json.main_points }}\\n\\n{{ $json.legal_assessment ? 'Legal Analysis: ' + $json.legal_assessment : '' }}\\n\\n{{ $json.scientific_assessment ? 'Scientific Analysis: ' + $json.scientific_assessment : '' }}\\n\\nProvide:\\n1. Summary: [2-3 sentence summary synthesizing all findings]\\n2. Recommendation: [2-3 sentence recommendation on how to prioritize and respond]",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are synthesizing findings from multiple specialized agents. Create a cohesive summary and actionable recommendation for government staff."
        }
      },
      "id": "synthesis-agent",
      "name": "Main Agent - Synthesis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "openai-model-synthesis",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1650, 480],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse synthesis output\\nconst output = $input.item.json.output;\\nconst parts = output.split('Recommendation:');\\n\\nlet summary, recommendation;\\nif (parts.length === 2) {\\n  summary = parts[0].replace('Summary:', '').trim();\\n  recommendation = parts[1].trim();\\n} else {\\n  summary = output;\\n  recommendation = 'Review comment and determine appropriate response.';\\n}\\n\\nreturn {\\n  json: {\\n    comment_id: $('Parse Routing Decision').item.json.comment_id,\\n    group_id: $('Parse Routing Decision').item.json.group_id,\\n    original_comment_text: $('Parse Routing Decision').item.json.comment_text,\\n    main_agent_summary: summary,\\n    main_agent_recommendation: recommendation,\\n    legal_assessment: $input.item.json.legal_assessment || null,\\n    scientific_assessment: $input.item.json.scientific_assessment || null\\n  }\\n};"
      },
      "id": "format-final-output",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "workflowId": "database-writer-workflow-id",
        "options": {
          "waitForCompletion": true
        }
      },
      "id": "save-to-database",
      "name": "Save to Database",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Comment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Comment Data": {
      "main": [
        [
          {
            "node": "Main Agent - Routing Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent - Routing Decision": {
      "main": [
        [
          {
            "node": "Parse Routing Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent - Routing Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Routing Decision": {
      "main": [
        [
          {
            "node": "If Needs Legal Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Needs Scientific Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Legal Analysis": {
      "main": [
        [
          {
            "node": "Call Legal Agent Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Sub-Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Scientific Analysis": {
      "main": [
        [
          {
            "node": "Call Scientific Agent Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Sub-Agent Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Legal Agent Workflow": {
      "main": [
        [
          {
            "node": "Merge Sub-Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Scientific Agent Workflow": {
      "main": [
        [
          {
            "node": "Merge Sub-Agent Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sub-Agent Results": {
      "main": [
        [
          {
            "node": "Main Agent - Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent - Synthesis": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Synthesis": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent - Synthesis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "main-agent-workflow",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
